video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
html{
  /* overflow-x: hidden; */
  /* overflow: hidden; */

}
.hero-container {
  
  letter-spacing: 2px;
  color: #fff;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}



.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
.hero-container > h1 {
  font-size: 2.7rem;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}
@media screen and (min-width: 1024px) {
  .hero-container > h1 {

    font-size: 4rem;
    margin-top: -90px;
    text-align: center;

  }
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    width: 70%;
    font-size: 35px;
    margin-top: -90px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    width: 70%;
    font-size: 35px;
    margin-top: -90px;
    text-align: center;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
  video{text-align: center; margin: 0 auto; width: 100%;}
}
